* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: roboto;
}

a {
  text-decoration: none;
  color: #6fa687;
}
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: norse;
  src: url("./font/Norse-Bold.otf");
}
@font-face {
  font-family: roboto;
  src: url("./font/Roboto-Regular.ttf");
}
.heading-container {
  position: relative;
  height: 30vh;
  background-image: url("./img/background.jpg");
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading-container .heading-background {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  background-color: rgba(200, 200, 200, 0.5);
}
.heading-container .heading-background .logo {
  padding: 10px;
  height: 100%;
}
.heading-container .heading-background .logo img {
  height: 100%;
}
.heading-container .heading {
  color: #fff;
  font-family: norse;
  font-size: 2rem;
  line-height: 80px;
}
.heading-container span {
  color: #fff;
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.6rem;
}

.form-container {
  background-color: #fef0e6;
}
.form-container .description-text {
  padding: 8% 5% 5%;
}
.form-container p {
  margin-bottom: 10px;
}
.form-container .sign-up-form {
  background-color: #fff;
  padding: 5% 5%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.form-container h3 {
  margin-bottom: 10px;
}
.form-container form label {
  display: block;
  font-size: 0.7rem;
  color: rgb(74, 74, 74);
}
.form-container form input[type=text],
.form-container form input[type=email],
.form-container form input[type=tel],
.form-container form input[type=password] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 5px;
  line-height: 10px;
}
.form-container form input[type=text]:focus,
.form-container form input[type=email]:focus,
.form-container form input[type=tel]:focus,
.form-container form input[type=password]:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-container .sent-btn-container {
  padding: 5% 5%;
}
.form-container .sent-btn-container input[type=submit] {
  display: block;
  padding: 2% 3%;
  border: 2px solid #6fa687;
  border-radius: 5px;
  width: 30%;
  background-color: #2a403c;
  color: #6fa687;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.form-container .sent-btn-container input[type=submit]:hover {
  background-color: #6fa687;
  text-decoration: none;
  color: #2a403c;
}
.form-container .sent-btn-container span {
  display: inline-block;
  margin-top: 15px;
}
.form-container .error {
  color: red;
}

@media (min-width: 768px) {
  .heading-container {
    width: 30%;
    float: left;
    height: 100vh;
  }
  .form-container {
    width: 70%;
    float: left;
    height: 100vh;
  }
  .form-container form .column-2 {
    width: 50%;
    float: left;
    padding: 0 15px 0 0;
  }
  .form-container form::after {
    content: "";
    display: block;
    clear: both;
  }
}/*# sourceMappingURL=style.css.map */